Flask==0.10.1
Flask-API==0.6.2
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.3
Unipath==1.0
Werkzeug==0.9.4
argparse==1.2.1
bleach==1.4
gunicorn==18.0
html5lib==0.999
itsdangerous==0.23
psycopg2==2.5.2
six==1.5.2
wsgiref==0.1.2
