
{% extends 'layout.html' %}

{% block body %}
<h1 id="check" style="
    position: fixed;
    left: 15px;
    top: 5px;
    font-size: 35px;
">

<p id="notes"></p>

<input type="text" id="text" name="text" />
<button id="btnPost" onclick="handleForm()" type="button">post</button>
<div id="status" style="font-size: 130px;"></div>

</h1>

<script type="text/javascript">
function getPosts(){
    if (window.jQuery){
        $(function() {
            $('#notes')[0].innerHTML = '';
            $.getJSON($SCRIPT_ROOT + '/', {}, function(data) {
                if (data.message) {
                    console.log(data.message);
                } else {
                    $.each(data, function(k, v) {
                        $('#notes')[0].innerHTML += "<p>" + v.text + "</p>";
                    });
                }
            });
            return false;
        });
    } else {
    }
}

function handleForm(){
    if (window.jQuery){
        $(function() {
            $("#status")[0].innerHTML="posting..."
            $.post('/', {
                text: $("#text").val()
            }, function(data) {
                if (data.message) {
                    console.log(data.error_message);
                } else {
                    if (data.created) {
                        $("#status")[0].innerHTML="POSTED!"
                    } else {
                        $("#status")[0].innerHTML="FAILED!"
                    }
                }
            });
            return false;
        });
        getPosts();
    } else {

    }
}

getPosts();

</script>

{% endblock %}
