
{% extends 'layout.html' %}
{% block body %}
<h1 id="check" style="
    position: fixed;
    left: 15px;
    top: 5px;
    font-size: 35px;
">

<p id="notes"></p>

<form method="POST" action="/">
    <input type="text" />
    <input type="submit" id="btn" value="Post" />
</form>
</h1>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/static/lodash.min.js"></script>
<script type="text/javascript" src="/static/s3upload.js"></script>

<script type="text/javascript">
if (window.jQuery){
    $(function() {
        $.getJSON($SCRIPT_ROOT + '/', {}, function(data) {
            if (data.message) {
                console.log(data.message);
            } else {
                $('#notes')[0].innerHTML=data;
            }
        });
        return false;
    });
} else {
}
</script>

{% endblock %}
