
{% extends 'layout.html' %}

{% block body %}
<h1 id="check" style="
    position: fixed;
    left: 15px;
    top: 5px;
    font-size: 35px;
">

<p id="notes"></p>

<input type="text" id="text" name="text" />
<button id="btnPost" onclick="handleForm()" type="button">post</button>
<div id="status" style="font-size: 130px;"></div>

</h1>

<script type="text/javascript">
if (window.jQuery){
    $(function() {
        $.getJSON($SCRIPT_ROOT + '/', {}, function(data) {
            if (data.message) {
                console.log(data.message);
            } else {
                $('#notes')[0].innerHTML=data;
            }
        });
        return false;
    });
} else {
}

function handleForm(){
    if (window.jQuery){
        $(function() {
            $("#status")[0].innerHTML="posting..."
            $.post('/', {
                text: $("#text").val()
            }, function(data) {
                if (data.message) {
                    console.log(data.error_message);
                } else {
                    if (data.created) {
                        $("#amt")[0].innerHTML="POSTED!"
                    } else {
                        $("#amt")[0].innerHTML="FAILED!"
                    }
                }
            });
            return false;
        });
    } else {

    }
}
</script>

{% endblock %}
